<div class="container animate-fadeInUp">
    {{ page.ContentPreRendered }}
</div>

{% assign sortedPages = site.RegularPages | where: 'Section', 'homepage' | where: 'OutputFormat', 'html' | sort: 'Weight' %}
{% for pageList in sortedPages limit: 10 %}
<div class="{{ pageList.Params.text-color }} {{ pageList.Params.bg }}" style="height: 350px;">
    <div class="container h-100">
        <div class="row align-middle h-100">
            {% assign oddeven = forloop.index | modulo: 2 %}
            {% render 'partials/index.column.html', pageList: pageList, level: oddeven %}
            {% assign oddeven = forloop.index0 | modulo: 2 %}
            {% render 'partials/index.column.html', pageList: pageList, level: oddeven %}
        </div>
    </div>
</div>
{% endfor %}

<style>
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-fadeInUp {
        animation: fadeInUp 1s ease-out;
    }
</style>
